{# src/Altgeek/ForumBundle/Resources/views/UberTopic/add.html.twig #}

{% extends "AltgeekForumBundle::index.html.twig" %}

{% block title %}
  Ajouter un UberTopic - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un UberTopic</h2>

  {{ include("AltgeekForumBundle:UberTopic:form.html.twig") }}

  <p>
    Attention : cet UberTopic sera ajoutée directement
    sur la page des UberTopics après validation du formulaire.
  </p>

{% endblock %}