{# src/Altgeek/UserBundle/Resources/views/User/index.html.twig #}

{% extends "AltgeekUserBundle::layout.html.twig" %}

{% block title %}
  User Index - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>HELLO {{ user.firstname uberTopic.category }} (INDEX)</h2>

{% endblock %}