{# src/Altgeek/UserBundle/Resources/views/User/index.html.twig #}

{% extends "AltgeekUserBundle::layout.html.twig" %}

{% block title %}
  User Index - {{ parent() }}
{% endblock %}

{% block body %}

		<h2>Liste des Users</h2>

		<ul>
			{% for user in listUsers %}
			  <li>
			    <a href="{{ path('altgeek_user_view', {'id': user.id}) }}">
			      {{ user.firstName }} {{ user.familyName }}
			    </a>
			  </li>
			{% else %}
			  <li>Pas (encore !) de Users</li>
			{% endfor %}
		</ul>

{% endblock %}