{# src/Altgeek/UserBundle/Resources/views/User/view.html.twig #}

{% extends "AltgeekUserBundle::layout.html.twig" %}

{% block title %}
  User View - {{ parent() }}
{% endblock %}

{% block body %}

	<h2>HELLO {{ user.firstname uberTopic.category }} (VIEW)</h2>

{% endblock %}